<div class="flex gap-4 text-xl max-[1024px]:text-base font-medium">
  <a class="px-5 py-[4.5px] bg-[#EAEAEA] rounded-full  cursor-pointer hover:bg-white transition-colors duration-200"
    href="https://x.com/uchekzzz" target="_blank" type="button">
    X
  </a>
  <a class="px-5 py-[4.5px] bg-[#EAEAEA] rounded-full  cursor-pointer hover:bg-white transition-colors duration-200"
    href="https://dribbble.com/uchagulbani" target="_blank" type="button">
    Dribble
  </a>
  <a class="px-5 py-[4.5px] bg-[#EAEAEA] rounded-full  cursor-pointer hover:bg-white transition-colors duration-200"
    href="https://www.linkedin.com/in/uchagulbani" target="_blank" type="button">
    Linkedin
  </a>
  <a class="px-5 py-[4.5px] bg-[#EAEAEA] rounded-full  cursor-pointer hover:bg-white transition-colors duration-200"
    href="mailto:Gulbaniucha@gmail.com" target="_blank" type="button">
    Email
  </a>
</div>
