.scroll-container {
  // -webkit-mask-image: linear-gradient(
  //   to right,
  //   transparent 0,
  //   black 128px,
  //   black calc(100% - 200px),
  //   transparent 100%
  // );
  // mask-image: linear-gradient(
  //   to right,
  //   transparent 0,
  //   black 128px,
  //   black calc(100% - 200px),
  //   transparent 100%
  // );

  &:hover .scroller-wrapper {
    animation-play-state: paused;
  }
}

.scroller-content {
  flex: 0 0 auto;
}

.scroller-wrapper {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

// Don't pause animation on mobile
@media (hover: none) {
  .scroll-container:hover .scroller-wrapper {
    animation-play-state: running;
  }
}
